
.row  {
  margin-top: 50px;
  padding: 0;

  
}

.col-xs-12 {
  background-color: whitesmoke;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Error message styling */
.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
form {
  
  animation: fadeIn 0.8s ease-in-out; /* Fade-in animation */
}
form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button styling */
.btn {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn2 {
  background-color: #28a745;
  border: 1px solid #28a745;
}

.btn2:hover {
  background-color: #218838;
}

/* Form transition */
.ng-tns-c229-1 {
  transition: opacity 0.5s ease;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


/* Media Query for Medium-sized devices */
@media (max-width: 768px) {
    .row {
      margin-top: 20px;
    }
  
    .col-xs-12 {
      width: 80%;
      margin: 48px;
    }
  
  
  }
  
  /* Media Query for Small-sized devices */
  @media (max-width: 600px) {
    .row {
      margin-top: 10px;
    }
  
    .col-xs-12 {
        width: 90%;
        margin: 20px;
    }
  


/* Media Query for Small-sized devices */
@media (max-width: 350px) {
    .row {
      margin-top: 10px;
    }
  
    .col-xs-12 {
      width: 95%;
      margin: 8px;
    }
  
    .btn {
        padding: 5px 10px;
        font-size: 12px; 
      }
    
      .btn2{
        padding: 5px 10px;
        font-size: 12px; 
      }
  }
  
@media (max-width: 251px) {
    .row {
      margin-top: 10px;
    }
  
    .col-xs-12 {
      width: 95%;
      margin: 6px;
    }
  
    .btn {
        padding: 2px 7px;
        font-size: 8px; /* Adjust font size if needed */
      }
    
      .btn2{
        padding: 2px 7px;
        font-size: 8px; /* Adjust font size if needed */
      }
  }

  }
  
   